<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/css/Project_client.css"/>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sticky-js@1.3.0/dist/sticky.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>


    <title>Project Page</title>

</head>

<body class="flex-column">
<header class="header">
    <section class="section1" style="--src:url(/img/0502f0f63cc56790c6952133ae2b1481.png)">
        <div class="content_box">

            <div class="searchBox">
                <input class="searchInput" type="text" name="" placeholder="Search">
                <button class="searchButton" href="#">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <a class="subtitle1" th:href="@{'/main/'}"><h3>STELLAR<br/>INVESTMENT</h3></a>

            <a class="subtitle2" th:href="@{'/project/all/team/'}"><h3>Projects</h3></a>
            <a class="subtitle21" th:href="@{'/main/'}"><h3>Home</h3></a>

            <img class="image4" src="/img/ace06293b0d4076285adfa86c63156ab.png" alt=""/>
            <div class="dropdown">
                <img class="box" th:src="@{${user.photosImagePath}}" alt="alt text" onclick="toggleDropdown()">
                <div id="myDropdown" class="dropdown-content">
                    <a th:href="@{'/main/account_details'}">My Profile</a>
                    <a th:href="@{'/project/my/'}">My Projects</a>
                    <a th:href="@{'/project/'}">Create Project</a>
                    <a href="JavaScript:void(0)" onclick="singOutForm.submit()">Log Out
                        <form th:action="@{'/logout'}" method="post" id="singOutForm"></form>
                    </a>
                </div>
            </div>

            <div class="wrapper5" style="--src:url(/img/3ac1d66869db66b7a9f0857bf70db63a.png)"></div>

        </div>
    </section>
</header>
<main class="projects main">


    <section class="container">
        <h1 class="heading">All Projects</h1>


        <div class="box-container" th:if="${teamProjects.isEmpty()}">
            <p>No active team projects</p>
        </div>

        <div class="box-container" th:unless="${teamProjects.isEmpty()}">

            <div class="box" th:each="project : ${teamProjects}">
                <a th:href="@{'/project/details/'+${project.id}}">
                    <div>
                        <img th:src="@{${project.getMainImagePath}}" alt="">
                        <h3 th:text="${project.title}"></h3>
                        <p th:text="${project.shortDescription}"></p>
                        <div class="btn">
                            <div class="skill-per" style="max-width:0">
                                <div class="textP first">0%</div>

                            </div>
                        </div>
                        <div class="content-container">
                            <div class="content_box2" th:each="team : ${project.teams}">
                                <div class="rect7"></div>
                                <div class="info2" th:text="${team.quantity}"></div>
                                <div class="info3" th:text="${team.position}"></div>
                                <div class="info12">Count</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </section>
    <section class="section9">
        <h3 class="subtitle">© 2024 Stellar Investment. All Rights Reserved.</h3>
        <div class="group22">
            <div class="group23">
                <div class="group23">
                    <div class="group23">
                        <div class="group23">
                            <div class="group23">
                                <div class="group23">
                                    <img class="decorator1" src="/img/2f3ece1de78afc35b4c0ad51e4395183.png"
                                         alt="alt text"/>
                                    <h3 class="subtitle10">© 2024 Stellar Investment. All Rights Reserved.</h3>
                                </div>
                                <div class="group24">
                                    <div class="group25">
                                        <div class="group25">
                                            <div class="group25">
                                                <div class="group25">
                                                    <div class="group25">
                                                        <div class="group25">
                                                            <div class="group25">
                                                                <div class="group25">
                                                                    <div class="group25">
                                                                        <div class="group25">
                                                                            <div class="group25">
                                                                                <div class="group25">
                                                                                    <div class="rect12"></div>
                                                                                    <h3 class="subtitle13">We
                                                                                        accept</h3>
                                                                                </div>
                                                                                <img class="image13"
                                                                                     src="/img/121d5415873890d25a18dd9a49f38891.png"
                                                                                     alt="alt text"/>
                                                                            </div>
                                                                            <img class="image14"
                                                                                 src="/img/a8dcc8aea20f758a7d9912e1526f1dac.png"
                                                                                 alt="alt text"/>
                                                                        </div>
                                                                        <div class=""></div>
                                                                    </div>

                                                                </div>
                                                                <div class="group28">
                                                                    <div class="rect15"></div>
                                                                    <img class="image111"
                                                                         src="/img/7a39f00d34d9eb253b78883930095a82.png"
                                                                         alt="alt text"/>
                                                                </div>
                                                            </div>
                                                            <div class="rect151"></div>
                                                        </div>
                                                        <img class="image72"
                                                             src="/img/43ddc85fd5d45fd2a0953686d30322df.png"
                                                             alt="alt text"/>
                                                    </div>
                                                    <div class="group29">
                                                        <div class="rect15"></div>
                                                        <img class="image12"
                                                             src="/img/5de47b8cb81c466e2e1b2b3e9e72b2f2.png"
                                                             alt="alt text"/>
                                                    </div>
                                                </div>
                                                <p class="paragraph1">MON<br/>Careers<br/>News<br/>Contact us</p>
                                            </div>
                                            <p class="paragraph11">
                                                Help Center<br/>How to  give<br/>Shipping &amp; Delivery <br/>Product
                                                Policy<br/>How to
                                                Return
                                            </p>
                                        </div>
                                        <div class="group30">
                                            <h3 class="subtitle12">Investing</h3>
                                            <div class="group31">
                                                <div class="group32">
                                                    <h3 class="subtitle131">Help &amp; Guide</h3>
                                                    <div class="group33">

                                                        <h3 class="subtitle132">Social Media</h3>
                                                    </div>
                                                </div>
                                                <h3 class="subtitle133">About</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="paragraph12">
                                        Investment opportunities<br/>Fees<br/>Investor returns<br/>Tax relief<br/>Funded
                                        companies
                                    </p>
                                </div>
                            </div>
                            <div class="group34">
                                <h3 class="subtitle14">+7 775 203 01 90</h3>
                                <img class="wrapper6" src="/img/399bf71dd023f1dc67ce0c39cc4d37d9.png" alt="alt text"/>
                            </div>
                        </div>
                        <div class="group35">
                            <div class="group36">
                                <h3 class="subtitle141">contact@almightypush.com</h3>
                                <img class="wrapper7" src="/img/52d6b93d16805d144cf3fe1c284fe0f3.png" alt="alt text"/>
                            </div>
                            <img class="wrapper8" src="/img/cd1d9907462f74cc57844c79ffd5b65a.png" alt="alt text"/>
                        </div>
                    </div>
                    <h3 class="subtitle142">microdistrict Daraboz, home 123, Almaty, Kazakhstan</h3>
                </div>
                <img class="image41" src="/img/ace06293b0d4076285adfa86c63156ab.png" alt="alt text"/>
            </div>
            <h3 class="subtitle18">STELLAR<br/>INVESTMENT</h3>
        </div>
    </section>

</main>
<script type="text/javascript">


    const dropdown = document.querySelector('.dropdown');
    const dropdownContent = document.querySelector('.dropdown-content');

    dropdown.addEventListener('click', function (event) {
        dropdownContent.classList.toggle('show');
    });
</script>
</body>

</html>