<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/Registration.css">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/{YOUR KIT CODE}.js" crossorigin="anonymous"></script>
    <title>Forgot Password</title>
</head>

<body>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Forgot Password</h2>
            </div>
            <div class="row clearfix">
                <div class="">
                    <form>
                        <div class="input_field">
                            <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input type="email" name="email" placeholder="Email" required />
                        </div>
                        <input class="button" type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="credit"><a href="Login.html">Back to Login</a></p>
</body>

</html>