<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Registration.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/{YOUR KIT CODE}.js" crossorigin="anonymous"></script>
    <title>Forgot Password</title>
</head>

<body>
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Forgot Password</h2>
            </div>

            <div th:if="${invalidToken != null}">
                <p style="color: darkred">[[${invalidToken}]]</p>
            </div>

            <div th:if="${error != null}">
                <p class="text-danger" style="color: darkred">[[${error}]]</p>
            </div>
            <div th:if="${message != null}">
                <p class="text-warning" style="color: rgba(165,148,31,0.76)">[[${message}]]</p>
            </div>

            <div class="row clearfix">
                <div class="">
                    <form th:action="@{'/auth/forgot_password'}" method="post">
                        <div class="input_field">
                            <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input type="email" name="forgot_email" placeholder="Email" required autofocus="autofocus"/>
                        </div>
                        <input class="button" type="submit" value="Reset Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="credit"><a th:href="@{'/auth/login'}">Back to Login</a></p>
</body>

</html>