<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fvVGrO69KYlz0tjRGrOpRsdZIb6HemjSzExD9qQCeTtF8Zq4p21F5V32vlQ+8bXC7ZZIgAEbaHOcyEg6UeVs8A==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <!-- <link rel="stylesheet" type="text/css" href="./css/fonts.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/My_projects.css"/>

    <title>My Projects</title>
</head>


<body onload="showBasicDataTab()">
    <header class="header">
        <section class="section1" style="--src:url(/img/0502f0f63cc56790c6952133ae2b1481.png)">
            <div class="content_box">
                
               <div class="searchBox">
                   <input class="searchInput" type="text" name="" placeholder="Search">
                     <button class="searchButton" href="#">
                        <i class="fa fa-search"></i>
                     </button>
                </div>
                <a class="subtitle1" th:href="@{'/main/'}"><h3>STELLAR<br/>INVESTMENT</h3></a> </p>

                <a class="subtitle2" th:href="@{'/project/all/team/'}"><h3>Projects</h3></a>
                <a class="subtitle21" th:href="@{'/main/'}"><h3>Home</h3></a>

                <img class="image4" src="/img/ace06293b0d4076285adfa86c63156ab.png" alt=""/>
                <div class="dropdown">
                    <img class="box" th:src="@{${user.photosImagePath}}" alt="alt text" onclick="toggleDropdown()">
                    <div id="myDropdown" class="dropdown-content">
                        <a th:href="@{'/main/account_details'}">My Profile</a>
                        <a th:href="@{'/project/my/'}">My Projects</a>
                        <a th:href="@{'/project/'}">Create Project</a>
                        <a href="JavaScript:void(0)" onclick="singOutForm.submit()">Log Out
                            <form th:action="@{'/logout'}" method="post" id="singOutForm"></form>
                        </a>
                    </div>
                </div>

                <div class="wrapper5" style="--src:url(/img/3ac1d66869db66b7a9f0857bf70db63a.png)"></div>

                 
            </div>
        </section>
    </header>

    <main class="kaif main">
        <section class="orders">
          <div class="container">
            <ul class="nav">
                <li><a href="#applied-persons" onclick="showTab(event, 'applied-persons')">List of applied persons</a></li>
                <li><a href="#investors" onclick="showTab(event, 'investors')">List of investors</a></li>
            </ul>
            
            <div id="applied-persons" class="tab-content" th:each="myProject : ${myProjects}">
                <table class="main_table" th:if="${myProjects.isEmpty()}">
                    <tbody>
                    <tr>
                        <td colspan="2">No active team projects</td>
                    </tr>
                    </tbody>
                </table>

                <table class="main_table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Description of the project</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${myProject.id}"></td>
                        <td>
                            <div class="cards_item">
                                <div class="image">
                                    <img th:src="@{${myProject.getMainImagePath}}">
                                </div>
                                <div class="text">
                                    <div class="text_item">
                                        <h3>Title:</h3>
                                        <p th:text="${myProject.title}"></p>
                                    </div>
                                    <div class="text_item">
                                        <h3>Brief Info:</h3>
                                        <p th:text="${myProject.shortDescription}"></p>
                                    </div>
                                    <div class="text_item">
                                        <h3>Status:</h3>
                                        <p th:text="${myProject.status}"></p>
                                    </div>
                                    <div class="text_item">
                                        <h3>Deadline:</h3>
                                        <p th:text="${myProject.finishTime}"></p>
                                    </div>
                                    <div class="text_item">
                                        <h3>Fund:</h3>
                                        <p th:text="${myProject.amountNeeded}"></p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <thead class="description">
                    <tr>
                        <th></th>
                        <th>Users who have applied for this project</th>
                    </tr>
                    </thead>
                </table>
                <table class="sheet">
                    <div class="card_info">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Application Date</th>
                            <th>Phone Number</th>
                            <th>Position</th>
                            <th>Decision</th>
                        </tr>
                        </thead>
                        <tbody>
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td>John</td>-->
<!--                            <td>Doe</td>-->
<!--                            <td>27/03/2024</td>-->
<!--                            <td>+7-(777)-777-77-77</td>-->
<!--                            <td>-->
<!--                                <span style="color: #0024A2">Waiting</span>-->
<!--                                <span style="color: #1a8a12">Accepted</span>-->
<!--                                <span style="color: red">Rejected</span>-->
<!--                            </td>-->
<!--                            <td>-->
<!--                                <div class="btns">-->
<!--                                    <form>-->
<!--                                        <input type="hidden" name="applicantId">-->
<!--                                        <button type="submit" class="approve">✓</button>-->
<!--                                    </form>-->
<!--                                    <form>-->
<!--                                        <input type="hidden" name="refuseapplicantId">-->
<!--                                        <button class="reject">X</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->
                        </tbody>
                    </div>

                </table>
            </div>


            
            <div id="investors" class="tab-content" style="display:none;">
                <table class="main_table">
                    <thead class="description">
                    <tr>
                        <th></th>
                        <th>Customers who have applied for this billboard</th>
                    </tr>
                    </thead>
                </table>
                <table class="sheet">
                    <div class="card_info">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Investor Name</th>
                            <th>Last Name</th>
                            <th>Invested Date</th>
                        
                            <th>Phone Number</th>
                            <th>Incoming Money</th>
                            <th>Applied tariff</th>
                        </tr>
                        </thead>
                        <tbody th:each="order : ${orders}">
                        <tr th:hidden="${order.billboard.id != billboard.id}">
                            <td th:text="${order.id}"></td>
                            <td th:text="${order.user.surname}"></td>
                            <td th:text="${order.user.name}"></td>
                            <td th:text="${order.startDate}"></td>
                            <td th:text="${order.endDate}"></td>
                            <td th:text="${order.telNumber}"></td>
                            <td th:switch="${order.status}">
                                <span th:case="0" style="color: #0024A2">Waiting</span>
                                <span th:case="1" style="color: #1a8a12">Accepted</span>
                                <span th:case="2" style="color: red">Rejected</span>
                            </td>
                            <td>
                                <div class="btns">
                                    <form th:action="@{'/admin/changeStatus'}" method="post">
                                        <input type="hidden" name="orderId" th:value="${order.id}">
                                        <button type="submit" class="approve" th:hidden="${order.status == 1}">✓</button>
                                    </form>
                                    <form th:action="@{'/admin/refuseOrder'}" method="post">
                                        <input type="hidden" name="refuseOrderId" th:value="${order.id}">
                                        <button class="reject" th:hidden="${order.status == 2}">X</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </div>
                </table>
            </div>


            
          </div>
        </section>
      </main>
    <section class="section3">
        <h3 class="subtitle5">© 2024 Stellar Investment. All Rights Reserved.</h3>
        <div class="group2">
            <div class="group2">
                <div class="group2">
                    <div class="group2">
                        <div class="group2">
                            <div class="group2">
                                <img class="cover1" src="/img/bf14714a16ee134b1726c6434e792c99.png" alt="alt text" />
                                <div class="content_box7">
                                    <div class="rect10"></div>
                                    <h3 class="subtitle6">Would you like to join newsletters?</h3>
                                    <div class="rect7"></div>
                                    <div class="content_box6">
                                        <h3 class="subtitle7">Join</h3>
                                    </div>
                                    <p class="desc">enter your email address...</p>
                                    <h3 class="subtitle8">Investing</h3>
                                    <h3 class="subtitle9">Help &amp; Guide</h3>
                                    <h3 class="subtitle91">About</h3>
                                    <h3 class="subtitle92">Social Media</h3>
                                    <h3 class="subtitle93">We accept</h3>
                                    <p class="paragraph">
                                        Investment opportunities<br />Fees<br />Investor returns<br />Tax relief<br />Funded companies
                                    </p>
                                    <p class="paragraph1">
                                        Help Center<br />How to  give<br />Shipping &amp; Delivery <br />Product Policy<br />How to
                    Return
                                    </p>
                                    <p class="paragraph2">MON<br />Careers<br />News<br />Contact us</p>
                                    <div class="rect9"></div>
                                    <div class="rect91"></div>
                                    <div class="rect92"></div>
                                    <img class="image3" src="/img/7a39f00d34d9eb253b78883930095a82.png" alt="alt text" /><img class="image4" src="/img/43ddc85fd5d45fd2a0953686d30322df.png" alt="alt text" /><img class="image5" src="/img/5de47b8cb81c466e2e1b2b3e9e72b2f2.png" alt="alt text" /><img class="decorator2" src="/img/121d5415873890d25a18dd9a49f38891.png" alt="alt text" /><img class="image6" src="/img/a8dcc8aea20f758a7d9912e1526f1dac.png" alt="alt text" />
                                </div>
                            </div>
                            <div class="group3">
                                <h3 class="subtitle10">+7 775 203 01 90</h3>
                                <img class="image21" src="/img/399bf71dd023f1dc67ce0c39cc4d37d9.png" alt="alt text" />
                            </div>
                        </div>
                        <div class="group4">
                            <div class="group5">
                                <h3 class="subtitle101">contact@almightypush.com</h3>
                                <img class="image22" src="/img/cd1d9907462f74cc57844c79ffd5b65a.png" alt="alt text" />
                            </div>
                            <img class="image23" src="/img/38289c6e3617705c3e2d42820fe0b93a.png" alt="alt text" />
                        </div>
                    </div>
                    <h3 class="subtitle102">microdistrict Daraboz, home 123, Almaty, Kazakhstan</h3>
                </div>
                <h3 class="subtitle31">STELLAR<br />INVESTMENT</h3>
            </div>
            <img class="image71" src="/img/3d_circular_chart_icon.png" alt="alt text" />
        </div>
    </section>

<script type="text/javascript">

        const dropdown = document.querySelector('.dropdown');
        const dropdownContent = document.querySelector('.dropdown-content');

        dropdown.addEventListener('click', function(event) {
            dropdownContent.classList.toggle('show');
});

$(document).ready(function() { 
    // Initialize the tab component
    $('.nav-tabs a').click(function() {
      $(this).tab('show');
    });
  });

        function showTab(evt, tabName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            document.getElementById(tabName).style.display = "block";

            evt.preventDefault();
        }
</script>

</body>

</html>