<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Registration.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/{YOUR KIT CODE}.js" crossorigin="anonymous"></script>
    <title>Forgot Password</title>
</head>

<body>
<div class="form_wrapper">
    <div class="form_container">
        <div class="title_container">
            <h2>Reset Your Password</h2>
        </div>

        <div th:if="${error != null}">
            <p class="text-danger" style="color: darkred">[[${error}]]</p>
        </div>
        <div th:if="${message != null}">
            <p class="text-warning" style="color: rgba(165,148,31,0.76)">[[${message}]]</p>
        </div>

        <div class="row clearfix">
            <div class="">
                <form th:action="@{'/auth/reset_password'}" method="post">
                    <input type="hidden" th:value="${token}" name="token" />
                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" id="psw" name="reset_password" placeholder="Enter your new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength="8" oninput="checkPasswordMatch(document.getElementById('confirmPassword'))" required />
                    </div>

                    <div class="input_field">
                        <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                        <input type="password" id="confirmPassword" name="reset_confPassword" placeholder="Confirm your new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength="8"
                               oninput="checkPasswordMatch(this)" required />
                    </div>
                    <input class="button" type="submit" value="Reset Password">
                </form>
            </div>
        </div>
    </div>
</div>
<p class="credit"><a th:href="@{'/auth/login'}">Back to Login</a></p>

<script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
        const psw = document.getElementById('psw');
        if (confirmPassword.value !== psw.value) {
            confirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
</body>

</html>